@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Oswald:wght@300;500&family=Playfair+Display:wght@400;800&display=swap");

:root {
  --main-color: #111;
  --font-color: #fff;
  --fun-color: rgba(88, 80, 236);
  --font-header: "Playfair Display", serif;
  --font-subheader: "Oswald", sans-serif;
  --font-paragraph: "Inter", sans-serif;
}

html {
  background-color: var(--main-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

/* Wtf this doesn't work */
main {
  width: 900px;
  margin: auto;
}

p {
  color: white;
  font-size: 18px;
  font-family: var(--font-paragraph);
}

a {
  font-family: var(--font-subheader);
  color: var(--font-color);
  font-weight: bold;
}

/* Navbar */
.navbar {
  top: 2%;
  margin: auto;
}

.logo {
  cursor: pointer;
}

.navbar > .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar > .navbar-nav > a {
  margin-top: 0.5%;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: silver;
  padding: 1em 1.5em;
  border: 1px solid var(--main-color);
  border-radius: 10%;
  display: flex;
}

.navbar > .navbar-nav > a:active,
.navbar > .navbar-nav > a:hover {
  color: white;
  background-color: var(--fun-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
