@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Oswald:wght@300;500&family=Playfair+Display:wght@400;800&display=swap");

:root {
  --main-color: #111;
  --font-color: #fff;
  --fun-color: rgba(88, 80, 236);
  --lightest-color: #999;
  --font-header: "Playfair Display", serif;
  --font-subheader: "Oswald", sans-serif;
  --font-paragraph: "Inter", sans-serif;
  --font-forms: Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--main-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

main {
  width: 900px;
  margin: auto;
}

/* Typography */
h1 {
  font-family: var(--font-header);
  font-size: 1.8em;
}

h2 {
  font-family: var(--font-subheader);
  font-size: 1.4em;
}

h3 {
  font-family: var(--font-paragraph);
  font-size: 1.2em;
  color: var(--lightest-color);
}

p {
  color: white;
  font-size: 14px;
  font-family: var(--font-paragraph);
}

a {
  font-family: var(--font-subheader);
  color: var(--font-color);
  font-weight: bold;
}

/* Navbar */
.navbar {
  top: 2%;
}

.logo {
  cursor: pointer;
}

.navbar > .navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar > .navbar-nav > a {
  margin-top: 0.5%;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: silver;
  padding: 15px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.navbar > .navbar-nav > a:active,
.navbar > .navbar-nav > a:hover {
  color: white;
  background-color: var(--fun-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Forms */
.form__group {
  display: flex;
  flex-direction: column;
}

.form__subheading {
  /* color: var(--lightest-color); */
}

.form__group > label {
  margin-bottom: -1%;
  margin-top: 1%;
  padding-left: 0.5%;
  color: var(--lightest-color);
}

input,
textarea {
  color: var(--font-color);
  background-color: var(--main-color);
  border: 2px solid var(--fun-color);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  font-family: var(--font-forms);
  font-size: 15px;
}

form > label > textarea {
  padding: 1em;
  border-radius: 10px;
}

/* Buttons */
button {
  background-color: var(--fun-color);
  color: var(--fg-color);
  border: 2px solid var(--fun-color);
  border-radius: 10px;
  padding: 0.5em;
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-primary2);
  cursor: pointer;
}

.form__submit {
  margin-top: 3em;
}
