<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chris-Notes{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <main>
      
      <nav class="navbar">
        <div class="navbar-nav">
          <h1 class="logo">Noteynotes</h1>
          <a id="home" href="/home">Home</a>
          <a id="logout" href="/login">Login</a>
          <a id="logout" href="/logout">Logout</a>
          <a id="signup" href="/signup">Signup</a>
          <div class="upper__block"></div>
        </div>
      </nav>
      <div class="container">
        {% block content%}
        {% endblock %}
      </div>
    </main> 
  </body>
</html>